body{
    height: 100vh;
    background-image: linear-gradient(to right bottom, #4211bb, #5810c4, #6c0ecd, #7f0bd6, #9206de);}


    .btn{
        display: flex;
        justify-content: center;
        margin-top: 20%;
    
    }
    .txt{
        display: flex;
        justify-content: center;
        
        
    }
    .form{
        margin-left: 17%;
    }
    
    .list{
        list-style: none;
        margin-left: 90px;
    }
    .text{
        width: 280px;
        height: 40px;
    }
    #text1{
        width: 215px;
    height: 40px;
    margin-left: -5px;

    }
    .bi{
        margin-left: -4px;
        color: white;
    }

    .li1{    border: solid 1px white;
        width: 218px;
        padding: 5px;
        background-color: white;
        display: inline-block;
    }

    .li2{
        border: solid 1px white;
        width: 218px;
        margin-top: 12px;
        padding: 5px;
        background-color: white;
        display: inline-block;
    
    }
   .fa-check{
        font-weight: 900;
        font-size: 25px;
        width: 35px;
        height: 35px;
        margin-left: 5px;

   }
   .fa-trash{
        font-weight: 900;
        font-size: 25px;
        width: 35px;
        height: 35px;
        margin-left: 7px;

   }
   .icon1{
    display: inline-block;
    background-color: forestgreen;
    color: white;
    height: 36px;
    width: 36px;
    padding-top: 2px;
    margin-left: -4px;

   }
   .icon2{
    display: inline-block;
    background-color: blue;
    color: white;
    height: 36px;
    width: 36px;
    padding-top: 2px;
    margin-left: -5px;
   }

   .fa-square-plus{
    font-size: 25px;
    color: red;
    background-color: white;
    width: 40px;
    height: 38px;
    padding-top: 3px;
    margin-left: -5px;
   }
  .icon{
    display: inline-block;
  }

    